@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');



.main-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}



.weeks h3 {
    font-family: 'Lato';
}

.form-1 {
   
    height: 100%;
    padding: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;


}

.filler {

    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weeks {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid black;
    color: #555;
    
    
}


.weeks-flex {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.date-selector {
    margin-top: 50px;
    gap: 20px;
    display: flex;
    align-items: center;
}


.circle {
    height: 20px;
    width: 20px;
    background-color: #555;
    border-radius: 50%;
}

.rectangle {
    width: 100%;
    border: 1px solid;

}

#circle2 {
    background-color: #ffffff;
    border: 1px solid;
    height: 10px;
    width: 10px;
}

.text {
    
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.start-trip {
    margin-top: 40px;
}

.start-trip h2 {
    font-family:'Lato', sans-serif;

}

.start-trip input {
    margin-top: 20px;
    text-decoration: none;
}

.repeat-on {
    margin-top: 40px;
}

.repeat-on p {
    font-family:'Lato', sans-serif;
    font-size: 18px;
}

.start-date h3 {
    font-family:'Lato', sans-serif;
    font-size: 16px;
    color: blue;
    margin-bottom: 20px;
}

.start-date input {

    border-radius: 10px;
    border-color:  #555;
    width: 140px;
}

.end-date h3 {
    font-family:'Lato', sans-serif;
    font-size: 16px;
    color: blue;
    margin-bottom: 20px;
}
.end-date input {
    border-radius: 10px;
    border-color:  #555;
    width: 140px;

}

.no-end-date input {
    margin-right: 8px;
    border-color: #555;
    color: #555;
}

.no-end-date label {
    font-family:'Lato', sans-serif;
    font-size: 16px;
 


}

.submit-btn {
    margin-top: 120px;
  
}

.submit-btn input {
    padding: 20px;
    width: 100%;
    border-radius: 10px;
    color: white;
    font-family: 'Lato';
    border: none;
    background-color: #0080ff;
    font-weight: bold;
}

.submit-btn input:hover {
    background-color: rgb(0, 0, 172);
    color: white;
  }
  

.text p {
    font-family:'Lato', sans-serif;
}

input[type=time] {
    border: 1px solid;
    color: #2a2c2d;
    font-size: 14px;
    font-family: 'Lato';
    width: 150px;
    outline: none;
  }

input[type=time]::-webkit-datetime-edit-fields-wrapper {
    display: flex;
  }

input[type=time]::-webkit-datetime-edit-text {
    padding: 10px 4px;
  }
/* Hour */
input[type=time]::-webkit-datetime-edit-hour-field {
    background-color: #f2f4f5;
    border-radius: 15%;
    padding: 19px 13px;
  }

/* Minute */
input[type=time]::-webkit-datetime-edit-minute-field {
    background-color: #f2f4f5;
    border-radius: 15%;
    padding: 19px 13px;
  }
  
  /* AM/PM */
  input[type=time]::-webkit-datetime-edit-ampm-field {
    background-color: #7155d3;
    border-radius: 15%;
    color: #fff;
    padding: 10px 5px;
  }
  
  /* 'X' button for resetting/clearing time */
  input[type=time]::-webkit-clear-button {
    display: none;
  }
  
  /* Up/Down arrows for incrementing/decrementing the value */
  input[type=time]::-webkit-inner-spin-button {
    display: none;
  }

  input[type="date"]{
    /* background-color: #0080ff; */
    padding: 10px;
    font-family: "Lato",monospace;
    font-size: 16px;
/* 
    outline: none; */
    border-radius: 5px;
}
::-webkit-calendar-picker-indicator{
    background-color: #ffffff;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
}

input[type="checkbox"] {
    transform: scale(1.2);
}