<div class="form-2">
    <form  [formGroup]="dropDownForm" (ngSubmit)="onSubmit()">
      <div *ngFor="let date of this.dropDownForm.controls; let i = index" [formGroup]="date">
         <button class="accordion" (click)="selectedRow(i)">
          {{ date.value.date }} {{ date.value.day }}
        </button>
        <div class="panel-main" *ngIf="date.value.selected">
          <div class="panel">
            <label>Bus Class*</label>
            <div class="select-editable">
              <select onchange="this.nextElementSibling.value=this.value" formControlName="busClass">
                <option value=""></option>
                <option value="bus class 1">bus class 1</option>
                <option value="bus class 2">bus class 2</option>
                <option value="bus class 3">bus class 3</option>
              </select>
              <input type="text" name="format" formControlName="busClass">
            </div>
          </div>
          <div class="panel">
            <label>Bus*</label>
            <div class="select-editable">
              <select onchange="this.nextElementSibling.value=this.value" formControlName="bus">
                <option value=""></option>
                <option value="bus 1">bus 1</option>
                <option value="bus 2">bus 2</option>
                <option value="bus 3">bus 3</option>
              </select>
              <input type="text" name="format" formControlName="bus" />
            </div>
          </div> 

          <div class="panel">
            <label>Driver*</label>
            <div class="select-editable">
              <select onchange="this.nextElementSibling.value=this.value" formControlName="driver">
                <option value=""></option>
                <option value="driver 1">driver 1</option>
                <option value="driver 2">driver 2</option>
                <option value="driver 3">driver 3</option>
              </select>
              <input type="text" name="format" formControlName="driver" />
            </div>
            <div *ngIf="i === 0">
              <input type="checkbox" id="auto-fill-values" name="all-values" [checked]="allValuesChecked"
                (change)="checkboxChanged($event)" />
              <label for="all-values">Keep Same for all the dates</label>
              <input type="submit" id="submit-form" class="hidden" />
            </div>
          </div>
        </div>
      </div>
    </form>
    <div (click)="onSubmit()" class="label-button">
      <label for="submit-form" tabindex="0">Submit</label>
    </div>
    <div>
    </div>
  </div>